<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enabled</key>
		<true/>
		<key>variable</key>
		<string>TM_ORGANIZATION_NAME</string>
		<key>value</key>
		<string>Lazyatom Ltd</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>variable</key>
		<string>PATH</string>
		<key>value</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>variable</key>
		<string>RUBYOPT</string>
		<key>value</key>
		<string>rubygems</string>
	</dict>
	<dict>
		<key>enabled</key>
		<true/>
		<key>variable</key>
		<string>RUBYLIB</string>
		<key>value</key>
		<string>.:spec:test</string>
	</dict>
	<dict>
		<key>enabled</key>
		<string>1</string>
		<key>variable</key>
		<string>PATH</string>
		<key>value</key>
		<string>/Users/james/.rbenv/shims:/Users/james/.homebrew/sbin:/Users/james/.homebrew/bin:/Users/james/.homebrew/share/npm/bin:/Users/james/bin:/Users/james/.rbenv/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin:/opt/local/bin:/opt/local/sbin</string>
	</dict>
</array>
</plist>
